<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<a href="/sounds">Home</a>
<a href="/subs">808s</a>
<a href="/kicks">Kicks</a>
<a href="/snares">Snares</a>
<a href="/hats">Hats</a>
<a href="/claps">Claps</a>

<h1>Sample Space</h1>
<br />

<%= link_to "New Sound", new_sub_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Sound</th>
         <th>Play Sound</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @subs.each do |sub| %>

         <tr>
            <td><%= sub.name %></td>
            <td><%= link_to "Play", sub.attachment_url %></td>
            <td><%= button_to "Delete",  sub, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{sub.name}?" %></td>
         </tr>

      <% end %>


   </tbody>

</table>
